<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Last.fm Recap for <%= username %></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="profile_wrapper">
    <div class="grid">
    <% albums.slice(0, 49).forEach(album => { %>
      <div class="album">
        <img src="<%= album.cover %>" alt="<%= album.album %> cover">
      </div>
    <% }) %>
    </div>

    <div class="artists">
    <h2>Top Artists: <%= reportMonth %></h2>
      <ol>
        <% artists.forEach(artist => { %>
          <li>
            <strong><%= artist.name %></strong> (<%= artist.playcount %> plays)
          </li>
        <% }) %>
      </ol>
    </div>

    <div class="site_name">
      <h2>report.6lass.com</h2>
    </div>
  </div>
</body>
</html>
